build*
npm-debug.log
iCubTelemVizServer/node_modules/*
iCubTelemVizServer/npm-debug.log*
openmctStaticServer/node_modules/*
openmctStaticServer/npm-debug.log*
.DS_Store
**/.idea/*
!.idea/runConfigurations
*.mov
*.mp4
*.zip

